@media (max-width: 1520px) {
    .promo {
        &__box {
            justify-content: space-between;
            align-items: center;
        }
        &__left {
            width: 46%;
        }
        &__right {
            width: 54%;
            img {
                max-width: 100%;
            }
        }
        &__title {
            font-size: 30px;
        }
        &__descr {
            width: 90%;
        }
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 0 15px;
    }
    .promo {
        &__left {
            width: 55%;
        }
        &__title {
            font-size: 28px;
        }
        &__descr {
            width: 95%;
        }
    }
    .services {
        &__items {
            margin-top: 50px;
        }
        &__item {
            margin: 50px 10px 0;
            width: 47%;
        }
    }
}

@media (max-width: 1140px) {
    .header {
        &__info {
            align-items: center;
        }
        &__contact {
            display: flex;
            flex-direction: column-reverse;
            a {
                &:not(:last-child) {
                    margin-top: 10px;
                    margin-right: 0;
                }
            }
        }
    }
    .promo {
        &__title {
            font-size: 24px;
        }
        &__services {
            li {
                font-size: 16px;
            }
        }
        &__descr {
            font-size: 16px;
        }
    }
    .section__title {
        font-size: 26px;
    }
    .services {
        &__icon {
            margin: 0 auto;
            width: 80px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 22px;
        }
        &__text {
            margin-top: 25px;
            font-size: 15px;
            p:not(:first-child) {
                margin-top: 25px;
            }
        }
        &__list {
            margin-top: 25px;
            li {
                font-size: 14px;
            }
        }
    }
    .contacts {
        &__icon {
            img {
                width: 40px;
            }
        }
        &__text {
            font-size: 15px;
            span {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__info {
            width: 65%;
        }
    }
    .promo {
        &__box {
            flex-direction: column;
        }
        &__left {
            width: 90%;
        }
        &__right {
            margin-top: 50px;
            width: 80%;
        }
    }
    .services {
        margin-top: 100px;
        &__items {
            justify-content: center;
        }
        &__item {
            margin: 50px 0 0;
            width: 90%;
        }
    }
    .contacts {
        margin-top: 100px;
        &__box {
            width: 100%;
        }
    }
    .footer {
        &__copyright {
            font-size: 16px;
        }
    }
    .phone_fixed {
        width: 65px;
        height: 65px;
        img {
            width: 30px;
        }
    }
}

@media (max-width: 767px) {
    .logo {
        display: block;
        width: 75px;
        img {
            width: 100%;
        }
    }
    .header {
        position: relative;
        &__box {
            padding: 15px 0;
        }
        &__burger {
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            z-index: 999;
            width: 28px;
            cursor: pointer;
            span {
                display: block;
                height: 4px;
                background-color: $main_blue;
                margin-bottom: 5px;
                transition: 0.5s all;
            }
            &.active {
                top: 47%;
                span {
                    margin-bottom: -3px;
                    &:nth-child(1) {
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &__info {
            position: absolute;
            top: 0;
            left: -1500px;
            z-index: 999;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background: #fff;
            transition: 0.3s all;
            &.active {
                left: 0;
            }
        }
        &__menu {
            ul {
                flex-direction: column;
                align-items: center;
                li:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
        &__contact {
            margin-top: 60px;
            a {
                &:not(:last-child) {
                    margin-top: 20px;
                }
            }
        }
    }
    .services {
        &__items {
            margin-top: 30px;
        }
        &__item {
            width: 100%;
        }
    }
    .contacts {
        &__box {
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
        }
        &__items {
            margin: 0;
        }
        &__form {
            margin-top: 50px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 10px;
    }
    .btn {
        width: 190px;
        font-size: 14px;
    }
    .promo {
        margin-top: 20px;
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
        &__title {
            font-size: 20px;
            line-height: 28px;
        }
        &__services {
            li {
                font-size: 14px;
            }
        }
        &__descr {
            width: 100%;
            font-size: 14px;
        }
        .btn {
            margin-right: auto;
            margin-left: auto;
        }
    }
    .section__title {
        font-size: 24px;
    }
    .services {
        &__item {
            padding: 30px 25px;
        }
        &__icon {
            width: 70px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__text {
            font-size: 13px;
            line-height: 22px;
            p:not(:first-child) {
                margin-top: 15px;
            }
        }
        &__list {
            li {
                font-size: 13px;
                line-height: 20px;
                &:before {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .contacts {
        &__item {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
        &__icon {
            img {
                width: 35px;
            }
        }
        &__text {
            font-size: 14px;
            span {
                margin-bottom: 5px;
                font-size: 15px;
            }
        }
        &__form {
            padding: 45px 35px;
            width: 85%;
            input, textarea {
                font-size: 13px;
            }
        }
    }
    .footer {
        &__box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__copyright {
            margin-top: 25px;
            position: static;
            transform: none;
            font-size: 14px;
        }
    }
    .phone_fixed {
        bottom: 30px;
        right: 15px;
        width: 50px;
        height: 50px;
        img {
            width: 20px;
        }
        .phone_fixed:before,
        .phone_fixed:after {
            left: -15px;
            right: -15px;
            top: -15px;
            bottom: -15px;
        }
    }
    .modal {
        &__close {
            top: unset;
            right: 50%;
            bottom: -45px;
            transform: translateX(50%);
        }
        &_thanks {
            width: 300px;
            .modal__title {
                font-size: 18px;
            }
            .modal__subtitle {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 420px) {
    .contacts {
        &__form {
            width: 100%;
        }
    }
}