@media (max-width: 1500px) {
    .promo {
        &__left {
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 1300px) {
    .contain {
        padding: 0 10px;
    }
    .header {
        &__box {
            padding: 25px 10px;
        }
        &__logo {
            width: 270px;
        }
        &__menu {
            margin-right: 100px;
            li {
                &:not(:last-child) {
                    margin-right: 40px;
                }
                a {
                    font-size: 15px;
                    line-height: 38px;
                }
            }
        }
        &__social {
            a {
                &:not(:last-child) {
                    margin-right: 15px;
                }
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .promo {
        &__left {
            height: 750px;
        }
        &__right {
            background: #fff url(../img/dotted_bg.png) -85px 50% no-repeat;
            &:after {
                bottom: 85px;
                right: 50px;
                width: 180px;
                height: 110px;
                background-size: 100%;
            }
        }
        &__info {
            padding: 50px;
            width: 480px;
        }
        &__title {
            font-size: 48px;
            line-height: 55px;
        }
    }
    .exp {
        &__item {
            margin-top: 25px;
            &:nth-child(odd) {
                margin-right: 25px;
            }
        }
        &__subtitle {
            font-size: 19px;
        }
        &__text {
            font-size: 15px;
            line-height: 22px;
        }
    }
    .action {
        &__box {
            background-size: 80px;
        }
        &__services, &__questions {
            margin-right: 90px;
        }
    }
    .biography {
        &__round {
            width: 160px;
            height: 160px;
        }
        &__line {
            width: 340px;
        }
        &__descr {
            width: 450px;
        }
    }
    .reviews {
        &__items {
            &:before {
                top: -90px;
                left: unset;
                right: 20px;
                width: 110px;
                height: 70px;
                transform: scale(-1, 1) rotate(-165deg);
                background-size: 100%;
            }
        }
        &__item {
            padding: 55px;
        }
        &__subtitle {
            font-size: 26px;
        }
    }
}
@media (max-width: 1080px) {
    .action {
        &__box {
            padding: 0;
            background: none;
        }
    }
    .biography {
        &__line {
            width: 270px;
        }
        &__info {
            width: 75%;
        }
    }
}
@media (max-width: 991px) {
    .header {
        position: relative;
        &__box {
        }
        &__logo {
            width: 240px;
        }
        &__group {
            flex-direction: column;
            position: absolute;
            top: 0;
            right: -500px;
            z-index: 998;
            padding-top: 90px;
            width: 320px;
            height: 100vh;
            background: #fff;
            transition: 0.3s all ease-in;
            &.active {
                right: 0;
            }
        }
        &__menu {
            margin-right: 0px;
            ul {
                flex-direction: column;
                align-items: center;
            }
            li {
                &:not(:last-child) {
                    margin-right: 0px;
                }
                a {
                    line-height: 42px;
                    &:after {
                        display: none;
                    }
                    &.active {
                        font-weight: 700;
                    }
                }
            }
        }
        &__social {
            margin-top: 30px;
        }
        &__burger {
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            z-index: 999;
            width: 32px;
            cursor: pointer;
            span {
                display: block;
                margin-bottom: 5px;
                height: 3px;
                background: $pink;
                border-radius: 2px;
                transition: 0.5s all;
            }
            &.active {
                top: 47%;
                span {
                    margin-bottom: -3px;
                    &:nth-child(1) {
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .promo {
        &__box {
            position: relative;
        }
        &__left {
            width: 100%;
            height: 800px;
        }
        &__right {
            position: absolute;
            bottom: 40px;
            right: 0;
            width: 630px;
            background: none;
            &:after {
                bottom: 70px;
                right: 32px;
                width: 115px;
                height: 75px;
                transform: rotate(-65deg);
            }
        }
        &__info {
            margin-left: 0;
            padding: 40px;
            width: 100%;
            background: #fff url(../img/bg_dotted_768.png) 300px 57px no-repeat;
            .btn {
                margin-top: 35px;
            }
        }
        &__descr {
            margin-top: 25px;
            width: 65%;
        }
    }
    .exp {
        &__box {
            flex-direction: column;
        }
        &__info {
            margin: 0;
            width: 65%;
        }
        &__items {
            width: 100%;
        }
    }
    .action {
        &__box {
            &__inner {
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 auto;
                width: 82%;
            }
        }
        &__services {
            margin-right: 0;
            width: 100%;
        }
        &__questions {
            margin: 40px 0 0;
        }
        .btn {
            margin-bottom: 25px;
            &:after {
                width: 75px;
                height: 125px;
                background-size: 100%;
            }
        }
    }
    .biography {
        &__round {
            width: 120px;
            height: 120px;
            font-size: 26px;
        }
        &__line {
            width: 220px;
        }
        &__descr {
            width: 400px;
        }
    }
    .reviews {
        &__items {
            &:before {
                display: none;
            }
        }
        &__item {
            padding: 40px 35px;
            width: 95%;
        }
        &__subtitle {
            font-size: 22px;
        }
    }
    .footer {
        &__text {
            font-size: 14px;
            line-height: 21px;
        }
        &__menu {
            margin-right: 50px;
            li {
                a {
                    font-size: 14px;
                }
            }
        }
        &__questions {
            li {
                font-size: 14px;
            }
        }
        &__form {
            .footer__text {
                width: 300px;
            }
            form {
                flex-direction: column;
                .btn {
                    margin: 15px 0 0;
                    width: 215px;
                }
            }
        }
    }
}
@media (max-width: 850px) {
    .biography {
        &__line {
            margin: 0 25px;
            width: 190px;
        }
        &__descr {
            width: 380px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &__right {
            width: 535px;
            &:after {
                right: 10px;
            }
        }
        &__info {
            .btn {
                font-size: 18px;
            }
        }
    }
    .exp {
        &__item {
            width: 100%;
            &:nth-child(odd) {
                margin-right: 0px;
            }
        }
    }
    .action {
        &__box {
            &__inner {
                width: 90%;
            }
        }
        &__services {
            li {
                font-size: 26px;
            }
        }
        &__questions {
            li {
                font-size: 15px;
            }
        }
    }
    .biography {
        &__box {
            background: none;
        }
        &__info, &__descr {
            width: 100%;
        }
        &__item {
            flex-direction: column;
            width: 90%;
            &:nth-child(even) {
                flex-direction: column;
                .biography__year {
                    flex-direction: column;
                }
            }
        }
        &__year {
            flex-direction: column;
        }
        &__line {
            margin: 20px 0;
            width: 3px;
            height: 70px;
        }
        &__img {
            img {
                height: 250px;
                object-fit: cover;
            }
        }
    }
    .reviews {
        &__item {
            width: 100%;
        }
    }
    .footer {
        &__top {
            flex-direction: column;
        }
        &__logo {
            width: 110px;
        }
        &__links {
            flex-direction: column;
            margin-top: 40px;
        }
        &__questions {
            margin-top: 30px;
        }
        &__bottom {
            position: relative;
        }
        &__social {
            margin-top: 40px;
        }
        &__consult {
            flex-direction: column;
            margin-top: 40px;
            padding-bottom: 60px;
        }
        &__form {
            align-self: auto;
            margin-top: 40px;
        }
        &__copyright {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__box {
            padding: 20px 10px;
        }
        &__logo {
            width: 160px;
        }
        &__group {
            top: 67px;
        }
    }
    .promo {
        &__box {
            flex-direction: column;
        }
        &__left {
            height: 320px;
        }
        &__right {
            position: static;
            width: 100%;
            &:after {
                display: none;
            }
        }
        &__info {
            padding: 30px;
            background: #fff;
            .btn {
                padding: 20px 15px 20px 55px;
                font-size: 14px;
                &:before {
                    width: 30px;
                    height: 30px;
                    background-size: 14px;
                }
            }
        }
        &__descr {
            width: 100%;
        }
    }
    .exp {
        &__item {
            margin-top: 20px;
        }
        &__icon {
            width: 48px;
            height: 48px;
            img {
                width: 25px;
            }
        }
        &__subtitle {
            font-size: 16px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .action {
        &__box {
            &__inner {
                flex-direction: column;
                width: 100%;
            }
        }
        &__services {
            width: auto;
        }
        .btn {
            align-self: auto;
            margin: 180px 0 0;
            &:after {
                width: 58px;
                height: 100px;
            }
        }
    }
    .biography {
        &__item {
            width: 100%;
        }
        &__round {
            width: 95px;
            height: 95px;
            border: 4px solid $pink;
            font-size: 22px;
        }
        &__line {
            margin: 15px 0;
            height: 60px;
        }
        &__img {
            img {
                height: 150px;
            }
        }
    }
}