@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/variables';
@import 'libs/slick';
// Common styles
* {
    font-family: 'RobotoCondensed', sans-serif;
}
body {
    margin: 0 auto;
    max-width: 1920px;
    // &.active {
    //     transition: 0.3s all;
    //     transform: translateX(-320px);
    // }
}
.hide {
    overflow: hidden;
}
.contain {
    margin: 0 auto;
    max-width: 1300px;
}
.text-pink {
    color: $pink;
}
.btn {
    display: inline-block;
    position: relative;
    padding: 20px 25px 20px 60px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    font-size: 21px;
    line-height: 100%;
    transition: 0.3s all;
    &:before {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        background-color: #000;
        background-image: url(../img/arrow_white.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
        transition: 0.3s all;
    }
    &_mini {
        padding: 17px 60px 17px 25px;
        font-size: 16px;
        &:before {
            left: unset;
            right: 25px;
            width: 21px;
            height: 15px;
            background-color: transparent;
        }
        &:hover {
            &:before {
                right: 22px;
            }
        }
    }
    &_white {
        &:hover {
            color: #fff;
            box-shadow: 0 0 0 60px #000 inset,0 5px 8px rgba(0,0,0,.1);
            &:before {
                background-color: #fff;
                background-image: url(../img/arrow_black.svg);
            }
        }
    }
}
// Header
.header {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;
        border-bottom: 3px solid $pink;
    }
    &__logo {
        width: 350px;
        img {
            max-width: 100%;
        }
    }
    &__group {
        display: flex;
        align-items: center;
    }
    &__menu {
        margin-right: 150px;
        ul {
            display: flex;
        }
        li {
            &:not(:last-child) {
                margin-right: 65px;
            }
            a {
                display: inline-block;
                position: relative;
                font-size: 16px;
                line-height: 44px;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 3px;
                    background: $pink;
                    transition: 0.2s all;
                }
                &:hover:after {
                    width: 100%;
                }
                &.active:after {
                    width: 100%;
                }
            }
        }
    }
    &__social {
        display: flex;
        a {
            &:not(:last-child) {
                margin-right: 20px;
            }
            svg {
                width: 28px;
                height: 28px;
            }
            &:hover {
                svg > path:first-child {
                    fill: $pink;
                    transition: 0.2s all;
                }
            }
        }
    }
    &__burger {
        display: none;
    }
}
// Promo
.promo {
    &__box {
        display: flex;
        overflow: hidden;
    }
    &__left {
        width: 66.25%;
        height: 850px;
        img {
            width: 100%;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        position: relative;
        width: 34.38%;
        background: #fff url(../img/dotted_bg.png) 35% 50% no-repeat;
        border-bottom: 10px solid $pink;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 50px;
            right: 180px;
            transform: rotate(-5deg);
            width: 190px;
            height: 140px;
            background: url(../img/smooth-arrow.png) no-repeat;
        }
    }
    &__info {
        margin-left: -170px;
        padding: 60px;
        width: 550px;
        background: #fff;
        .btn {
            margin-top: 45px;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 70px;
        line-height: 77px;
    }
    &__descr {
        margin-top: 30px;
        width: 80%;
        font-size: 16px;
        line-height: 135%;
    }
}
// Exp
.section__label {
    font-size: 16px;
    line-height: 100%;
}
.section__title {
    margin-top: 20px;
    font-size: 32px;
    line-height: 40px;
    &_average {
        font-size: 48px;
        line-height: 55px;
    }
    &_large {
        font-size: 60px;
        line-height: 100%;
    }
}
.exp {
    margin-top: 95px;
    &__box {
        display: flex;
    }
    &__info {
        margin: 125px 35px 0 0;
        width: 26%;
        .btn {
            margin-top: 30px;
            &:before {
                background-image: url(../img/phone-icon.svg);
                background-size: 19px;
            }
            &:hover {
                &:before {
                    background-image: url(../img/phone_black.svg);
                }
            }
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 71%;
    }
    &__item {
        margin-top: 35px;
        padding: 25px;
        width: 48%;
        background: #F9F9F9;
        &:nth-child(odd) {
            margin-right: 35px;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        background: #262626;
        border-radius: 50%;
    }
    &__subtitle {
        position: relative;
        margin-top: 10px;
        font-size: 24px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 4px;
            background: $pink;
        }
    }
    &__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
    }
}
// Action 
.section__offset {
    margin-top: 130px;
}
.action {
    padding: 60px 0;
    background: #262626;
    &__box {
        padding: 0 0 10px 40px;
        background: url(../img/arrow-action.png) 0 100% no-repeat;
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__services {
        margin-right: 130px;
        color: #FFFFFF;
        li {
            margin-top: 15px;
            font-size: 32px;
            line-height: 100%;
            span {
                padding-bottom: 4px;
                border-bottom: 1px solid $pink;
            }
        }
    }
    &__questions {
        margin-right: 130px;
        color: #FFFFFF;
        li {
            position: relative;
            margin-top: 15px;
            padding-left: 22px;
            font-size: 16px;
            line-height: 100%;
            color: #FFFFFF;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 3px;
                background: $pink;
            }
        }
    }
    .btn {
        align-self: flex-end;
        background: $pink;
        border: none;
        color: #fff;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
            width: 56px;
            height: 95px;
            background: url(../img/question-sign.svg) no-repeat;
        }
    }
}
// Biography
.biography {
    &__box {
        background: url(../img/dotted-bg2.png) 96% 0 no-repeat;
    }
    &__info {
        width: 62%;
    }
    &__subtitle {
        margin-top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }
    &__text {
        margin-top: 30px;
        font-size: 16px;
        line-height: 25px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-top: 50px;
        &:nth-child(even) {
            flex-direction: row-reverse;
            .biography__year {
                flex-direction: row-reverse;
            }
        }
    }
    &__year {
        display: flex;
        align-items: center;
    }
    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        background: #262626;
        border: 6px solid $pink;
        border-radius: 50%;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: #FFFFFF;
    }
    &__line {
        margin: 0 45px;
        width: 430px;
        height: 3px;
        background: $pink;
    }
    &__descr {
        width: 540px;
        background: #F9F9F9;
    }
    &__company {
        padding: 25px 25px 0;
        font-size: 15px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.6);
    }
    &__post {
        margin-top: 10px;
        padding: 0 25px;
        font-size: 24px;
        line-height: 100%;
    }
    &__img {
        margin-top: 25px;
        img {
            width: 100%;
        }
    }
    &__content {
        margin-top: 25px;
        padding: 0 25px 25px;
        font-size: 16px;
        line-height: 24px;
    }
    &__group {
        .biography__descr {
            margin-top: 20px;
        }
    }
}
// Reviews
.reviews {
    &__title {
        margin-top: 0;
        text-align: center;
    }
    &__descr {
        margin: 25px auto 0;
        width: 65.38%;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    &__items {
        position: relative;
        margin-top: 60px;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -80px;
            left: -170px;
            width: 190px;
            height: 140px;
            background: url(../img/smooth-arrow.png) no-repeat;
            transform: scale(-1, 1) rotate(-85deg);
        }
    }
    &__item {
        margin: 0 auto;
        padding: 65px;
        width: 90%;
        background: #F9F9F9;
    }
    &__subtitle {
        font-size: 32px;
        line-height: 100%;
    }
    &__stars {
        margin-top: 15px;
    }
    &__star {
        display: inline-block;
        margin-right: 5px;
        width: 18px;
        height: 18px;
        background: url(../img/star-fill.svg) no-repeat;
        background-size: 100%;
    }
    &__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__avatar {
        margin-right: 20px;
    }
    &__name {
        font-size: 15px;
        line-height: 100%;
    }
    &__post {
        margin-top: 10px;
        font-size: 15px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.6);
    }
    .slick-track {
        display: flex;
      }
    .slick-track .slick-slide {
        display: flex;
        height: auto;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 0;
        list-style: none;
    }
    .slick-dots li{
        margin: 0 7px;
    }
    .slick-dots li button{
        padding: 0;
        width: 12px;
        height: 12px;
        background: #262626;
        font-size: 0;
        border: none;
        box-shadow: none;
        outline: 0;
        border-radius: 50%;
        transition: all 0.5s;
        cursor: pointer;
    }
    .slick-dots li.slick-active button{
        background: $pink;
    }
}
// Footer
.footer {
    padding: 80px 0 60px;
    background: url(../img/footer-bg.png) 50% 50% / cover no-repeat;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 135px;
        img {
            max-width: 100%;
        }
    }
    &__links {
        display: flex;
    }
    &__menu {
        margin-right: 100px;
        li {
            margin-bottom: 5px;
            a {
                font-size: 15px;
                line-height: 100%;
                color: #FFFFFF;
                transition: 0.2s all;
                &:hover {
                    color: $pink;
                }
            }
        }
    }
    &__questions {
        li {
            margin-bottom: 15px;
            font-size: 15px;
            line-height: 100%;
            color: #FFFFFF;
        }
    }
    &__social {
        margin-top: 30px;
        &__items {
            display: flex;
            margin-top: 15px;
            a {
                margin-right: 15px;
                &:hover {
                    svg {
                        path {
                            fill: #fff;
                            transition: 0.2s all;
                        }
                    }
                    svg > path:first-child {
                        fill: $pink;
                        transition: 0.2s all;
                    }
                }
            }
        }
    }
    &__text {
        font-size: 15px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__consult {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__whatsapp {
        display: inline-flex;
        align-items: center;
        margin-top: 25px;
        font-size: 15px;
        color: #FFFFFF;
        svg {
            margin-right: 15px;
        }
        &:hover {
            svg {
                path {
                    fill: #fff;
                    transition: 0.2s all;
                }
            }
            svg > path:first-child {
                fill: $pink;
                transition: 0.2s all;
            }
        }
    }
    &__copyright {
        margin-top: 60px;
        font-size: 14px;
        color: #FFFFFF;
    }
    &__form {
        align-self: flex-end;
        .footer__text {
            width: 400px;
        }
        form {
            display: flex;
            margin-top: 25px;
            input {
                width: 215px;
                background: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                font-size: 15px;
                color: #FFFFFF;
                &::placeholder {
                    font-size: 15px;
                    color: #fff;
                }
            }
            .btn {
                margin-left: 25px;
                background: none;
                border: 1px solid #FFFFFF;
                font-size: 14px;
                color: #FFFFFF;
            }
        }
    }
}
// Consultation page
// Services
.services {
    margin-top: 50px;
    &__info {
        padding-top: 110px;
        width: 400px;
        .btn {
            margin-top: 30px;
            &:before {
                background-color: transparent;
                background-image: url(../img/arrow_black.svg);
            }
            &:hover {
                &:before {
                    right: 25px;
                    background-image: url(../img/arrow_white.svg);
                }
            }
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-top: 50px;
        padding: 45px 35px 64px;
        width: 400px;
        height: 490px;
        &:hover {
            .services__img {
                &:after {
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
            .services__subtitle {
                &:before {
                    right: 0;
                    opacity: 1;
                }
            }
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s all;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.9);
            transition: 0.3s all;
            opacity: 0;
        }
    }
    &__icon {
        // width: 100px;
        // height: 100px;
        // background: #f9f9f9;
        // border-radius: 50%;
    }
    &__subtitle {
        position: relative;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 4px;
            background: $pink;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 35px;
            width: 27px;
            height: 27px;
            background: url(../img/arrow_pink.svg) no-repeat;
            background-size: 100%;
            opacity: 0;
            transition: 0.3s all;
        }
    }
}
// Price
.price {
    padding: 100px 0;
    background: #F9F9F9;
    &__title {
        text-align: center;
    }
    &__items {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }
    &__item {
        padding: 65px 80px;
        width: 420px;
        height: 565px;
        background: #fff;
        border-bottom: 10px solid $pink;
        .btn {
            margin-top: 30px;
            background: #000;
            color: #fff;
            &:before {
                background: url(../img/arrow_white.svg) no-repeat;
            }
        }
        &_center {
            padding: 80px;
            width: 460px;
            height: 625px;
            background: #000;
            border-bottom: none;
            .price__subtitle {
                color: #fff;
            }
            .price__cost {
                color: #fff;
            }
            .price__list {
                li {
                    color: #fff;
                }
            }
            .btn {
                margin-top: 50px;
                width: 240px;
                background: #fff;
                font-size: 18px;
                line-height: 20px;
                color: #000;
                &:before {
                    background-image: url(../img/arrow_black.svg);
                }
            }
        }
    }
    &__icon {
        width: 100px;
        height: 100px;
        background: #f9f9f9;
        border-radius: 50%;
    }
    &__subtitle {
        margin-top: 35px;
        font-size: 16px;
        line-height: 100%;
    }
    &__cost {
        margin-top: 15px;
        font-size: 16px;
        line-height: 100%;
    }
    &__ruble {
        position: relative;
        top: -15px;
        font-size: 22px;
        line-height: 100%;
    }
    &__value {
        font-size: 56px;
        line-height: 100%;
    }
    &__list {
        margin-top: 25px;
        li {
            position: relative;
            margin-top: 15px;
            padding-left: 30px;
            font-size: 15px;
            line-height: 100%;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 15px;
                height: 12px;
                background: url(../img/check.svg) no-repeat;
            }
        }
        .price__cross {
            color: #9E9E9E;
            &:before {
                background: url(../img/cross.svg) no-repeat;
                background-size: contain;
            }
        }
    }
}
// Meet
.meet {
    margin-top: 95px;
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__info {
        margin-bottom: 80px;
    }
    &__title {
        margin-top: 0;
    }
    &__list {
        margin-top: 30px;
        li {
            position: relative;
            margin-top: 25px;
            padding-left: 22px;
            font-size: 16px;
            line-height: 100%;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 3px;
                background: $pink;
            }
        }
    }
    &__item {
        padding: 25px;
        width: 405px;
        background: #F9F9F9;
        &_big {
            margin-bottom: 80px;
            width: 645px;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        background: #262626;
        border-radius: 50%;
    }
    &__subtitle {
        position: relative;
        margin-top: 10px;
        font-size: 24px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 4px;
            background: $pink;
        }
    }
    &__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
    }
}
// Blog page
.breadcrumb {
    display: flex;
    &__item {
        position: relative;
        &:first-child {
            padding-left: 26px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: block;
                width: 16px;
                height: 14px;
                background: url(../img/folder_icon.svg) no-repeat;
            }
        }
        &:not(:last-child) {
            &:after {
                content: '●';
                margin: 0 10px;
            }
        }
        &.active {
            color: #000;
        }
        a {
            // color: rgba(0,0,0,.6);
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.blog {
    margin-top: 100px;
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__left {
            width: 39.23%;
        }
        &__right {
            width: 45.38%;
            img {
                width: 100%;
            }
        }
    }
    &__label {
        font-size: 18px;
    }
    &__descr {
        margin-top: 30px;
        font-size: 19px;
        line-height: 26px;
    }
    &__items {
        margin-top: 100px;
    }
    &__item {
        display: flex;
        margin-top: 60px;
        &:nth-child(even) {
            flex-direction: row-reverse;
            .blog__info {
                padding: 0 40px 0 120px;
            }
        }
    }
    &__img {
        position: relative;
        width: 53.85%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s all;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: 0.3s all;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
            img {
                transform: scale(1.1);
            }
        }
        &:hover + .blog__info .blog__subtitle {
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 120px 0 40px;
        width: 46.15%;
        background: #F9F9F9;
        border-bottom: 7px solid $pink;
    }
    &__subtitle {
        margin-top: 15px;
        font-size: 32px;
        line-height: 41px;
        transition: 0.3s all;
        &:hover {
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &__social {
        display: flex;
        margin-top: 30px;
        a {
            margin-right: 15px;
            &:hover {
                svg {
                    transform: rotate(15deg);
                    transition: 0.3s all;
                }
            }
        }
    }
    .btn {
        display: flex;
        margin: 60px auto 0;
        padding: 17px 35px;
        &:before {
            display: none;
        }
    }
}
// Article page
.article {
    margin-top: 100px;
    &__title {
        margin-top: 25px;
        font-size: 60px;
        line-height: 66px;
    }
    &__img {
        margin: 60px 0 40px;
        height: 750px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 26px;
        p:not(:first-child) {
            margin-top: 20px;
        }
    }
    &__quote {
        margin: 50px 0;
        padding: 40px 0 0 40px;
        width: 90%;
        height: 110px;
        background: url(../img/quote.svg) no-repeat;
    }
    &__subtitle {
        margin-bottom: 30px;
        font-size: 32px;
        line-height: 100%;
    }
    &__list {
        margin-top: 30px;
        li {
            position: relative;
            margin-top: 15px;
            padding-left: 22px;
            font-size: 16px;
            line-height: 100%;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 3px;
                background: $pink;
            }
        }
    }
    &__gallery {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
        &__item {
            position: relative;
            width: 30.77%;
            height: 230px;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.35);
                transition: 0.2s all;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 42px;
                height: 42px;
                background: url(../img/loupe.svg) no-repeat;
                background-size: 100%;
                transition: 0.2s all;
            }
            &:hover {
                &:before {
                    background-color: rgba(0, 0, 0, 0.4);
                }
                &:after {
                    transform: translate(-50%, -50%) scale(1.2, 1.2);
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__recent {
        margin-top: 40px;
        &__title {
            font-size: 24px;
            line-height: 26px;
        }
        .blog__items {
            display: flex;
            margin-top: 30px;
        }
        .blog__item {
            margin-top: 0;
            height: 94px;
            &:nth-child(even) {
                flex-direction: row;
                .blog__info {
                    padding: 20px 15px 20px 20px;
                }
            }
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
        .blog__img {
            width: 150px;
        }
        .blog__info {
            padding: 20px 20px 20px 15px;
            width: 170px;
            border-bottom: 2px solid $pink;
        }
        .blog__subtitle {
            margin-top: 0;
            font-size: 13px;
            line-height: 18px;
            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}
// Contacts page
.contacts {
    margin-top: 100px;
    &__title {
        text-align: center;
    }
    &__box {
        display: flex;
        margin-top: 100px;
    }
    &__map {
        width: 750px;
        height: 620px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0 50px;
        width: 550px;
        background: #F9F9F9;
        border-bottom: 7px solid $pink;
    }
    &__phone {
        display: flex;
        align-items: center;
        img {
            margin-right: 25px;
        }
    }
    &__phones {
        a {
            display: block;
            font-size: 20px;
            line-height: 100%;
            &:last-child {
                margin-top: 15px;
            }
        }
    }
    &__adress {
        display: flex;
        align-items: center;
        margin-top: 60px;
        font-size: 20px;
        line-height: 30px;
        img {
            margin-right: 25px;
        }
    }
    &__social {
        display: flex;
        margin-top: 60px;
        a {
            margin-right: 25px;
            svg {
                width: 52px;
            }
        }
    }
    &__action {
        display: flex;
        justify-content: center;
        margin-top: 210px;
    }
    &__left {
        margin-right: 160px;
        width: 300px;
    }
    &__subtitle {
        font-size: 48px;
        line-height: 100%;
    }
    &__descr {
        margin-top: 15px;
        font-size: 18px;
        line-height: 100%;
    }
    &__right {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -110px;
            left: -130px;
            width: 190px;
            height: 140px;
            background: url(../img/smooth-arrow.png) no-repeat;
            transform: scale(-1, -1) rotate(-20deg);
        }
    }
    .feedform {
        &__group {
            display: flex;
        }
        input {
            display: flex;
            padding: 20px;
            width: 245px;
            height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.55);
            border-radius: 15px;
            font-size: 14px;
            &:first-child {
                margin-right: 20px;
            }
        }
        textarea {
            margin-top: 20px;
            padding: 20px;
            width: 100%;
            height: 110px;
            font-size: 14px;
            resize: none;
            border: 1px solid rgba(0, 0, 0, 0.55);
            border-radius: 15px;
        }
        .btn {
            margin-top: 25px;
            background-color: #000;
            color: #fff;
            &:hover {
                color: #000;
                box-shadow: 0 0 0 60px #fff inset,0 5px 8px rgba(0,0,0,.1);
                &:before {
                    background-image: url(../img/arrow_black.svg);
                }
            }
        }
    }
}

@import 'media';