* {
  font-family: 'Rubik', sans-serif;
  line-height: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.hide {
  opacity: 0 !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overlay-menu {
  position: relative;
  overflow: hidden;
}

.overlay-menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 340px;
  height: 80px;
  padding-left: 55px;
  background: #EB2C14;
  border: 2px solid #FF4D42;
  -webkit-box-shadow: 0px 13px 10px rgba(168, 0, 0, 0.18);
          box-shadow: 0px 13px 10px rgba(168, 0, 0, 0.18);
  border-radius: 99px;
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.btn:before {
  position: absolute;
  top: 3px;
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.btn-red {
  background: #EB2C14;
  border: 2px solid #FF4D42;
}

.btn-red:before {
  content: '1';
  background: #D71900;
}

.btn-red:hover {
  background: #D30000;
  color: #fff;
  text-decoration: none;
}

.btn-red:hover:before {
  background: #EB2C14;
  color: #fff;
}

.btn-red:active {
  background: #C60000;
  color: #FFDED3;
}

.btn-red:active:before {
  background: #D90000;
}

.btn-orange {
  background: #E97A00;
  border: 2px solid #FF9D32;
}

.btn-orange:before {
  content: '2';
  background: #D85B00;
}

.btn-orange:hover {
  background: #D74D00;
  color: #fff;
  text-decoration: none;
}

.btn-orange:hover:before {
  background: #E97000;
  color: #fff;
}

.btn-orange:active {
  background: #C52F00;
  color: #FFDED3;
}

.btn-orange:active:before {
  background: #E05100;
}

.header {
  padding: 55px 0 20px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 55px;
}

.header__logo img {
  max-width: 100%;
}

.header__logo__mob {
  display: none;
}

.header__logo__mob img {
  max-width: 100%;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul li {
  margin-right: 50px;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul a {
  font-weight: 500;
  font-size: 21px;
  color: #515151;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__menu ul a:hover {
  color: #E97A00;
  text-decoration: none;
}

.header .burger {
  display: none;
}

.header__lang {
  margin-left: 10px;
}

.header__lang__switcher {
  vertical-align: super;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-size: 21px;
  color: #515151;
  cursor: pointer;
  background: transparent;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 42px;
  background: #FFF3E6;
  border: 2px solid #FF9D32;
  -webkit-box-shadow: 0px 6px 6px #F4DBBE;
          box-shadow: 0px 6px 6px #F4DBBE;
  border-radius: 32px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 21px;
  color: #000000;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__button:hover {
  background: #E97A00;
  color: #fff;
  text-decoration: none;
}

.header__button:active {
  background: #D74D00;
  -webkit-box-shadow: 0px 3px 3px #F4DBBE;
          box-shadow: 0px 3px 3px #F4DBBE;
}

.header .social__mob {
  display: none;
}

.title__line {
  display: inline-block;
  position: relative;
}

.title__line:after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  display: block;
  width: 100%;
  height: 7px;
  background: url(../img/title_line.png) no-repeat;
}

.promo {
  background: url(../img/promo_bg.png) no-repeat;
  background-size: cover;
}

.promo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
  padding-bottom: 80px;
}

.promo__title {
  font-weight: 700;
  font-size: 88px;
  color: #000000;
  text-align: center;
}

.promo__subtitle {
  margin-top: 35px;
  font-weight: 500;
  font-size: 42px;
  color: #000000;
  text-align: center;
}

.promo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}

.promo__links a:first-child {
  margin-right: 80px;
}

.promo__logo {
  display: block;
  margin-top: 70px;
}

.promo__copyright {
  display: none;
}

.promo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
  width: 62px;
  height: 62px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 11px 24px rgba(11, 11, 11, 0.1);
          box-shadow: 0px 11px 24px rgba(11, 11, 11, 0.1);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.social__item:last-child {
  margin-right: 0 !important;
}

.social__item svg {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.social__item-white:hover {
  background: #595959;
}

.social__item-white:hover svg {
  fill: #fff;
}

.social__item-white:active {
  background: #333333;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social__item-white:active svg {
  fill: #fff;
}

.social__item-dark {
  background: #474747;
}

.social__item-dark svg {
  fill: #DFDFDF;
}

.social__item-dark:hover {
  background: #fff;
}

.social__item-dark:hover svg {
  fill: #343434;
}

.social__item-dark:active {
  background: #BDBDBD;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social__item-dark:active svg {
  fill: #343434;
}

.page-head {
  padding-bottom: 90px;
  background: url(../img/about_head_bg.png) no-repeat;
  background-size: cover;
}

.page-head__title {
  position: relative;
  margin-top: 120px;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  color: #000000;
}

.page-head__title .title__line:after {
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
}

.section__title {
  font-weight: 700;
  font-size: 58px;
  color: #000000;
}

.who {
  padding: 90px 0;
}

.who__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who__left {
  width: 46%;
}

.who__right {
  width: 48%;
}

.who__right img {
  max-width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.17);
}

.who__text {
  margin-top: 30px;
}

.who__text p {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.who__text p span {
  font-weight: 700;
}

.who__text p:last-child {
  margin-top: 25px;
}

.clients {
  position: relative;
  padding: 70px 0;
  background-image: url(../img/clients_bg.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: #D57913;
}

.clients:before {
  content: '';
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 40px;
  background: #D47913;
}

.clients__title {
  font-size: 58px;
  text-align: center;
  color: #FFFFFF;
}

.clients__subtitle {
  margin-top: 15px;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}

.clients__box {
  margin-top: 50px;
}

.clients__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 12px;
  padding: 20px 35px 50px;
  max-width: 305px;
  height: 330px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 9px #C06906;
          box-shadow: 0px 3px 9px #C06906;
  border-radius: 15px;
}

.clients__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.clients__img img {
  max-width: 95%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.clients__text {
  position: absolute;
  bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.clients .slick-arrow {
  position: absolute;
  top: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47px;
  height: 47px;
  background: #E97A00 url(../img/slide_arrow.svg) 45% 50% no-repeat;
  background-size: 14px;
  border: 2px solid #FF9D32;
  -webkit-box-shadow: 0px 6px 6px #B06107;
          box-shadow: 0px 6px 6px #B06107;
  border-radius: 32px;
  font-size: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.clients .slick-arrow.slick-prev {
  right: 65px;
}

.clients .slick-arrow.slick-next {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-shadow: 0px -6px 6px #B06107;
          box-shadow: 0px -6px 6px #B06107;
}

.clients .slick-arrow:hover {
  border: none;
  background: #fff url(../img/slide_arrow_dark.svg) 45% 50% no-repeat;
  background-size: 14px;
}

.clients .slick-arrow:active {
  border: none;
  background: #FFEBD6 url(../img/slide_arrow_dark.svg) 45% 50% no-repeat;
  background-size: 14px;
}

.advantage {
  padding: 70px 0 100px;
}

.advantage__subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.advantage__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.advantage__img img {
  width: 100%;
}

.advantage__text p {
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.advantage__text p:first-child {
  margin-top: 0 !important;
}

.advantage__good .advantage__title {
  text-align: center;
}

.advantage__good .advantage__info {
  margin-top: 50px;
  background: #FAFAFA;
  border: 1px solid #E3E3E3;
}

.advantage__good .advantage__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.advantage__good .advantage__text {
  width: 51%;
  padding: 60px;
}

.advantage__innovate {
  position: relative;
  margin-top: 95px;
}

.advantage__innovate:before {
  content: '';
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 40px;
  background: #FFC200;
}

.advantage__innovate .advantage__title {
  margin-bottom: 30px;
  line-height: 60px;
}

.advantage__innovate .advantage__info {
  display: block;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(18.96%, #FFFEFC), to(#FFFBF1));
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFEFC 18.96%, #FFFBF1 100%);
  border: 1px solid #FFC200;
}

.advantage__innovate .advantage__text {
  width: 58%;
  padding: 40px 30px 65px 60px;
}

.advantage__innovate .advantage__img {
  position: absolute;
  bottom: 0;
  right: -1px;
}

.advantage__science {
  margin-top: 90px;
}

.advantage__science .advantage__title {
  text-align: center;
}

.advantage__science .advantage__info {
  margin-top: 50px;
  background: #FAFAFA;
  border: 1px solid #E3E3E3;
}

.advantage__science .advantage__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.advantage__science .advantage__text {
  width: 51%;
  padding: 60px 65px;
}

.footer {
  position: relative;
  padding: 30px 0;
  background: radial-gradient(159.35% 159.35% at 50% 50%, #585858 0%, #868686 100%);
  overflow: hidden;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #4B4B4B;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu li {
  margin-right: 50px;
}

.footer__menu li:last-child {
  margin-right: 0;
}

.footer__menu a {
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__menu a:hover {
  color: #E97A00;
  text-decoration: none;
}

.footer__copyright {
  font-size: 16px;
  color: #CCCCCC;
}

.footer .social {
  margin-top: 0;
}

.footer .social__item {
  width: 50px;
  height: 50px;
}

.footer .social__item svg {
  width: 25px;
  height: 25px;
}

.footer__pageup {
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110px;
  height: 110px;
  background: #505050;
  border: 1px solid #787878;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__pageup svg {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 22px;
  height: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__pageup:hover {
  background: #343434;
}

.footer__pageup:active {
  background-color: #464646;
}

.footer__pageup:active svg {
  fill: #9C9C9C;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 15px;
  }
  .header__logo {
    margin-right: 0;
    width: 195px;
  }
  .header__menu ul li {
    margin-right: 40px;
  }
  .header__menu ul a {
    font-size: 19px;
  }
  .promo__title {
    font-size: 74px;
  }
  .promo__subtitle {
    margin-top: 25px;
    font-size: 40px;
  }
  .advantage__innovate .advantage__text {
    padding-left: 30px;
  }
  .advantage__innovate .advantage__img {
    width: 450px;
  }
}

@media (max-width: 1140px) {
  .header {
    position: relative;
    z-index: 11;
    padding-top: 30px;
  }
  .header__button {
    display: none;
  }
  .header__logo {
    margin: 30px 0 0 30px;
    width: 180px;
  }
  .header__logo__mob {
    display: block;
    width: 180px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 999;
    width: 75px;
    height: 42px;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #FF9D32;
    -webkit-box-shadow: 0px 6px 6px #C1A78B;
            box-shadow: 0px 6px 6px #C1A78B;
    border-radius: 32px;
  }
  .header .burger span {
    margin-top: 5px;
    width: 28px;
    height: 3px;
    background-color: #000;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .header .burger span:first-child {
    margin-top: 0;
  }
  .header .burger.active {
    padding-bottom: 7px;
  }
  .header .burger.active span {
    margin-bottom: -7px;
  }
  .header .burger.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .burger.active span:nth-child(2) {
    display: none;
  }
  .header .burger.active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    right: -1500px;
    z-index: 998;
    width: 50vw;
    height: 100vh;
    background: #fff;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
  }
  .header__box.active {
    right: -15px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: calc(100vh - 35%);
    margin-top: 35px;
    border-top: 1px solid #E2E2E2;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .header__menu ul li {
    position: relative;
    margin-top: 30px;
    margin-right: 0;
  }
  .header__menu ul li:first-child {
    margin-top: 0;
  }
  .header__menu ul li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -45px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 15px;
    height: 28px;
    background: url(../img/menu_item_arrow.svg) no-repeat;
  }
  .header__menu ul a {
    font-weight: 500;
    font-size: 28px;
    color: #0A0A0A;
  }
  .header__menu ul .header__lang {
    position: absolute;
    top: 10px;
    right: 130px;
  }
  .header__menu ul .header__lang__switcher {
    font-size: 24px;
  }
  .header__menu ul .header__lang:before {
    display: none;
  }
  .header .social__mob {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding: 40px 0;
    width: 100%;
    background: #F4F4F4;
    border-top: 1px solid #E9E9E9;
  }
  .header .social__mob .social__item {
    width: 58px;
    height: 58px;
    -webkit-box-shadow: 0px 3px 3px rgba(11, 11, 11, 0.1);
            box-shadow: 0px 3px 3px rgba(11, 11, 11, 0.1);
  }
  .header .social__mob .social__item svg {
    width: 30px;
  }
  .promo {
    position: relative;
  }
  .promo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
  }
  .promo__box {
    position: relative;
    z-index: 10;
  }
  .promo__title {
    max-width: 80%;
    font-size: 70px;
    line-height: 75px;
  }
  .promo__subtitle {
    font-size: 32px;
  }
  .promo__links .btn {
    padding-left: 0;
    width: 270px;
    height: 70px;
  }
  .promo__links .btn:before {
    display: none;
  }
  .promo__links a:first-child {
    margin-right: 60px;
  }
  .promo__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 130px;
    width: 100%;
  }
  .promo .social {
    margin-top: 0;
  }
  .promo .social__item {
    -webkit-box-shadow: 0px 3px 3px rgba(11, 11, 11, 0.1);
            box-shadow: 0px 3px 3px rgba(11, 11, 11, 0.1);
  }
  .promo__logo {
    margin-top: 0;
  }
  .promo__copyright {
    display: block;
    font-size: 16px;
    color: #595959;
  }
  .page-head__title {
    margin-top: 50px;
    font-size: 52px;
  }
  .section__title {
    font-size: 48px;
  }
  .who {
    padding-top: 60px;
  }
  .who__right {
    margin-left: 30px;
    max-width: 520px;
    height: 450px;
  }
  .who__right img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .clients {
    padding-top: 60px;
    background-image: none;
  }
  .advantage__subtitle {
    font-size: 27px;
  }
  .advantage__good .advantage__text {
    padding: 40px 30px 50px;
    width: 70%;
  }
  .advantage__innovate {
    overflow: hidden;
  }
  .advantage__innovate .advantage__text {
    padding-bottom: 50px;
  }
  .advantage__innovate .advantage__img {
    right: -80px;
  }
  .advantage__science .advantage__text {
    padding: 40px 35px 50px;
    width: 70%;
  }
}

@media (max-width: 991px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    margin: 25px 0 0 20px;
    width: 140px;
  }
  .header__logo__mob {
    width: 150px;
  }
  .header .burger {
    top: 20px;
  }
  .header__menu ul li {
    margin-top: 25px;
  }
  .header__menu ul li:before {
    left: -25px;
    width: 10px;
    height: 18px;
    background-size: contain;
  }
  .header__menu ul a {
    font-size: 22px;
  }
  .header__menu ul .header__lang {
    margin-left: 0;
    top: 5px;
  }
  .promo__title {
    font-size: 58px;
    line-height: 65px;
  }
  .promo__subtitle {
    margin-top: 20px;
    font-size: 26px;
  }
  .promo__links .btn {
    width: 240px;
    font-size: 18px;
  }
  .promo__links a:first-child {
    margin-right: 40px;
  }
  .promo__logo {
    display: none;
  }
  .promo .social__item {
    margin-right: 25px;
    width: 47px;
    height: 47px;
  }
  .promo .social__item:last-child {
    margin-right: 0;
  }
  .promo .social__item svg {
    width: 23px;
  }
  .section__title {
    font-size: 42px;
  }
  .who__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who__left {
    width: 100%;
  }
  .who__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .clients {
    padding-bottom: 120px;
  }
  .clients__subtitle {
    margin-top: 10px;
    font-size: 28px;
  }
  .clients__slide {
    height: 240px;
  }
  .clients__text {
    bottom: 20px;
    font-size: 14px;
  }
  .clients .slick-arrow {
    top: unset;
    bottom: -70px;
    width: 40px;
    height: 40px;
    background-size: 10px;
  }
  .clients .slick-arrow.slick-prev {
    right: unset;
    left: calc(50% - 30px);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .clients .slick-arrow.slick-next {
    right: calc(50% - 30px);
    -webkit-transform: rotate(180deg) translateX(-50%);
            transform: rotate(180deg) translateX(-50%);
  }
  .clients .slick-arrow:hover {
    background-size: 10px;
  }
  .clients .slick-arrow:active {
    background-size: 10px;
  }
  .advantage {
    padding-bottom: 70px;
  }
  .advantage__subtitle {
    font-size: 27px;
  }
  .advantage__good .advantage__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantage__good .advantage__img {
    width: 100%;
    height: 440px;
  }
  .advantage__good .advantage__img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
  .advantage__good .advantage__text {
    padding: 40px 30px 50px;
    width: 100%;
  }
  .advantage__innovate .advantage__title {
    line-height: 50px;
  }
  .advantage__innovate .advantage__text {
    width: 70%;
  }
  .advantage__innovate .advantage__img {
    right: -120px;
    width: 400px;
  }
  .advantage__science .advantage__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantage__science .advantage__img {
    width: 100%;
    height: 440px;
  }
  .advantage__science .advantage__img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
  .advantage__science .advantage__text {
    padding: 40px 30px 50px;
    width: 100%;
  }
  .footer__menu {
    display: none;
  }
  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
  }
  .footer__logo {
    width: 170px;
  }
  .footer .social__item {
    margin-right: 10px;
    width: 38px;
    height: 38px;
    -webkit-box-shadow: 0px 3px 3px rgba(11, 11, 11, 0.1);
            box-shadow: 0px 3px 3px rgba(11, 11, 11, 0.1);
  }
  .footer .social__item svg {
    width: 17px;
    height: 17px;
  }
  .footer__copyright {
    font-size: 13px;
  }
  .footer__pageup {
    width: 90px;
    height: 90px;
  }
  .footer__pageup svg {
    top: 10px;
    width: 18px;
  }
}

@media (max-width: 767px) {
  .overlay-menu:before {
    background: transparent;
  }
  .header .burger {
    width: 65px;
    height: 40px;
  }
  .header .burger span {
    margin-top: 4px;
    width: 24px;
    height: 2px;
  }
  .header__box {
    width: 100vw;
  }
  .header .social__mob {
    padding: 25px 0;
  }
  .header .social__mob .social__item {
    width: 50px;
    height: 50px;
  }
  .header .social__mob .social__item svg {
    width: 21px;
  }
  .promo__title {
    font-size: 45px;
  }
  .promo__subtitle {
    margin-top: 15px;
    font-size: 21px;
  }
  .promo__links {
    margin-top: 60px;
  }
  .promo__links .btn {
    width: 220px;
    height: 60px;
    font-size: 16px;
  }
  .promo__links a:first-child {
    margin-right: 40px;
  }
  .promo .social__item {
    margin-right: 20px;
  }
  .promo__copyright {
    font-size: 14px;
  }
  .section__title {
    font-size: 38px;
  }
  .page-head {
    padding-bottom: 60px;
  }
  .page-head__title {
    font-size: 42px;
  }
  .page-head__title .title__line:after {
    width: 150px;
  }
  .clients__subtitle {
    font-size: 24px;
  }
  .clients__slide__box {
    margin: 0 10px;
  }
  .clients__slide {
    margin: 0 auto;
  }
  .advantage__subtitle {
    font-size: 24px;
  }
  .advantage .advantage__text p {
    font-size: 15px;
  }
  .advantage__good .advantage__img {
    height: auto;
  }
  .advantage__good .advantage__text {
    padding: 35px 30px;
  }
  .advantage__innovate {
    margin-top: 50px;
  }
  .advantage__innovate .advantage__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .advantage__innovate .advantage__title {
    line-height: 50px;
  }
  .advantage__innovate .advantage__text {
    padding-bottom: 20px;
    width: 100%;
  }
  .advantage__innovate .advantage__img {
    position: static;
    margin-left: auto;
    width: 350px;
  }
  .advantage__science {
    margin-top: 60px;
  }
  .advantage__science .advantage__info {
    margin-top: 30px;
  }
  .advantage__science .advantage__img {
    height: auto;
  }
  .advantage__science .advantage__text {
    padding: 35px 30px;
  }
  .footer__copyright {
    font-size: 11px;
  }
}

@media (max-width: 575px) {
  .header__logo {
    margin-top: 30px;
    width: 110px;
  }
  .header__logo__mob {
    width: 130px;
  }
  .header__box {
    right: -700px;
  }
  .header__menu ul .header__lang {
    right: 100px;
  }
  .header__menu ul .header__lang__switcher {
    font-size: 22px;
  }
  .promo__box {
    margin-top: 100px;
  }
  .promo__title {
    max-width: 100%;
    font-size: 43px;
    line-height: 56px;
  }
  .promo__title__regular {
    font-weight: 400;
  }
  .promo__subtitle {
    margin-top: 15px;
    font-size: 21px;
    line-height: 25px;
  }
  .promo__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .promo__links .btn {
    margin-top: 20px;
    width: 210px;
    font-size: 15px;
  }
  .promo__links a:first-child {
    margin-right: 0;
  }
  .promo__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .promo .social__item {
    width: 42px;
    height: 42px;
  }
  .promo .social__item svg {
    width: 21px;
  }
  .promo__copyright {
    margin-top: 30px;
  }
  .page-head__title {
    font-size: 30px;
  }
  .page-head__title .title__line:after {
    width: 50%;
  }
  .section__title {
    font-size: 25px;
  }
  .who {
    padding: 50px 0 60px;
  }
  .who__right {
    margin-top: 25px;
  }
  .who__text {
    margin-top: 25px;
  }
  .who__text p {
    font-size: 14px;
    line-height: 20px;
  }
  .who__text p:last-child {
    margin-top: 20px;
  }
  .clients {
    padding-top: 45px;
  }
  .clients:before {
    top: -30px;
    height: 30px;
  }
  .clients__subtitle {
    font-size: 19px;
    line-height: 24px;
  }
  .clients__box {
    margin-top: 40px;
  }
  .advantage {
    padding: 50px 0 60px;
  }
  .advantage .container {
    padding: 0;
  }
  .advantage__subtitle {
    font-size: 19px;
    line-height: 24px;
  }
  .advantage .advantage__text p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 23px;
  }
  .advantage__good .advantage__info {
    margin-top: 30px;
  }
  .advantage__good .advantage__text {
    padding: 30px 10px 40px;
  }
  .advantage__innovate .advantage__title {
    margin-bottom: 20px;
    line-height: 30px;
  }
  .advantage__innovate .advantage__text {
    padding: 20px 10px;
  }
  .advantage__innovate .advantage__img {
    width: 300px;
  }
  .advantage__science {
    margin-top: 50px;
  }
  .advantage__science .advantage__text {
    padding: 30px 10px 40px;
  }
  .footer {
    padding-bottom: 70px;
  }
  .footer__copyright {
    display: none;
  }
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    width: 130px;
  }
}
