@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
// Common styles
* {
    font-family: 'Gilroy', sans-serif;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
}

.overflow-hidden {
    overflow: hidden;
}

// Main page
 // Promo
 .header {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 140px;
        img {
            max-width: 100%;
        }
    }
    &__menu {
        ul {
            display: flex;
            li {
                margin-right: 240px;
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                position: relative;
                font-size: 24px;
                color: #FFFFFF;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    display: block;
                    width: 0;
                    height: 3px;
                    background: #F8B711;
                    transition: 0.2s all;
                }
                &:hover {
                    color: #FFFFFF;
                }
                &:hover:before {
                    width: 100%;
                }
            }
        }
        &__drop {
            position: relative;
            padding-right: 25px;
            cursor: pointer;
            &__link {
                &:after {
                    content: '';
                    position: absolute;
                    top: 9px;
                    right: -20px;
                    display: block;
                    width: 12px;
                    height: 13px;
                    background: url(../img/menu_arrow.svg) no-repeat;
                    background-size: 100%;
                    cursor: pointer;
                }
            }
            .header__menu__drop__list {
                position: absolute;
                top: 35px;
                display: flex;
                flex-direction: column;
                padding: 35px 50px;
                max-width: 350px;
                background: #F8F9F9;
                visibility: hidden;
                opacity: 0;
                transition: 0.2s all;
                li {
                    margin-top: 10px;
                    padding-top: 10px;
                    width: 100%;
                    border-top: 1px solid #ABABAB;
                    &:first-child {
                        margin-top: 0;
                        padding-top: 0;
                        border-top: 0;
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    font-weight: 500;
                    font-size: 14px;
                    color: #2A2A2A;
                    transition: 0.2s all;
                    &:before {
                        display: none;
                    }
                    &:hover {
                        color: #828282;
                    }
                }
            }
            &:hover .header__menu__drop__list {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__phone {
        padding: 11px 32px;
        background: linear-gradient(86.75deg, #F8B711 5.26%, #F9A11E 99.59%);
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
        color: #5C5C5C;
        transition: 0.2s all;
        &:hover {
            color: #5C5C5C;
            background: linear-gradient(86.75deg, #F9A11E 5.26%, #F8B711 99.59%);

        }
    }
    &__burger {
        display: none;
    }
}
.promo {
    position: relative;
    z-index: 10;
    padding-bottom: 200px;
    background: url(../img/promo_bg.png) no-repeat;
    background-size: cover;
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
    }
    &__left {
        width: 52%;
    }
    &__subtitle {
        font-size: 24px;
        color: #FFFFFF;
    }
    &__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 118px;
        color: #F8B711;
    }
    &__descr {
        margin-top: 50px;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
    }
    &__form {
        margin-top: 100px;
        &__box {
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
        }
        input {
            margin-left: -50px;
            padding: 0 15px 0 110px;
            background: #F7F7F7;
            box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            outline: none;
            border: none;
            font-size: 24px;
            color: #5F5F5F;
        }
        &__btn {
            position: relative;
            padding-right: 30px;
            width: 330px;
            height: 90px;
            background: linear-gradient(86.75deg, #F8B711 5.26%, #F9A11E 99.59%);
            border-radius: 10px;
            font-size: 24px;
            color: #383838;
            border-bottom: 4px solid #E38800;
            transition: 0.2s all;
            &:hover {
                border-bottom: 4px solid transparent;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 16px;
                right: 20px;
                display: block;
                width: 83px;
                height: 93px;
                background: url(../img/button_phone.png) no-repeat;
                background-size: 100%;
            }
        }
        &__text {
            margin-top: 10px;
            font-weight: 300;
            font-size: 24px;
            color: #FFFFFF;
        }
    }
    &__right {
        position: relative;
        padding-top: 50px;
        width: 660px;
        img {
            max-width: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #FFC652 0%, #DB9E39 100%);
            filter: blur(200px);
            border-radius: 50%;
        }
    }
}

.section__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
    color: #282828;
}
.btn {
    padding: 31px 73px;
    background: linear-gradient(86.75deg, #F8B711 5.26%, #F9A11E 99.59%);
    border-radius: 10px;
    border-bottom: 4px solid #E38800;
    border-radius: 10px;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
    transition: 0.2s all;
    &:hover {
        background: linear-gradient(86.75deg, #F9A11E 5.26%, #F8B711 99.59%);
        border-bottom: 4px solid transparent;
    }
}
 // Services
.services {
    padding: 140px 0 160px;
    background: url(../img/services_bg.png) no-repeat;
    background-size: cover;
    &__title {
        margin: 0 auto;
        max-width: 50%;
        text-align: center;
        color: #2B2B2B;
        span {
            font-weight: 400;
        }
    }
    &__descr {
        margin-top: 55px;
        font-weight: 300;
        font-size: 36px;
        text-align: center;
        color: #828282;        
    }
    &__box {
        margin-top: 120px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 55px;
    }
    &__item {
        position: relative;
        margin: 0 10px 95px;
        max-width: 415px;
        max-height: 305px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    &__subtitle {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0;
        padding-left: 20px;
        width: 100%;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            display: block;
            width: 38px;
            height: 24px;
            background: url(../img/services_arrow.svg) no-repeat;
            background-size: 100%;
            transition: 0.2s all;
        }
        &:hover:after {
            right: 10px;
        }
    }
    .btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

// Modal Start
.overlay {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
.modal {
    padding: 45px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 440px;
    border-radius: 15px;
    background-color: #fff;
    &__title {
        font-size: 28px;
        line-height: 31px;
        font-weight: 700;
        color: #212121;
        text-align: center;
        span {
            color: #72bc74;
        }
    }
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        color: #fff;
        font-size: 45px;
        line-height: 21px;
        font-weight: bold;
        cursor: pointer;
    }
    .feed-form {
        margin-top: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        input {
            margin-top: 10px;
            padding-left: 50px;
            padding-right: 20px;
            height: 60px;
            border: 1px solid #a2a2a2;
            border-radius: 15px;
            background-position: 20px 50%;
        }
        .button {
            margin-top: 10px;
            padding: 17px;
        }
    }
    &__private {
        margin-top: 25px;
        font-size: 16px;
        color: #a0a0a0;
        text-align: center;
    }
    &_thanks {
        padding: 25px;
        height: 125px;
        width: 380px;
        .modal__title {
            font-size: 24px;
        }
        .modal__subtitle {
            margin-top: 10px;
            color: #212121;
            text-align: center;
            font-size: 15px;
        }
    }
}
.overlay,
#call,
#order,
#thanks {
    display: none;
}
// Modal End

@import 'media';